/* ********** GENERAL ********* */

body {
	background-color: #000;
	overflow:scroll;
	/*
	background-color:black;
	background-image:
	radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
	radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
	radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
	radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
	*/

}


/*
#teambody {
	background: url(images/abstractblk.jpg);
	background-size:100% 100%;
	background-repeat:repeat-y;
	background-color:rgba(0,0,0,0.5);
}
*/

#teambody {
	background-color: #000;
}

#guidebody {
	background-color: #000;
}

div.col-md-12 {
	width:100%;
	margin:0 auto;
}

div.form-group {
	width:30%;
	margin:0 auto;
}

#form2 {
	display:none;
}

#form1 {
	display:block;
}

.numbers {
	font-size: 30px;
}

.guide {
	font-size: 25px;
}

.sectionName{
	font-size: 30px;
	font-weight: bold;
}
.template {
	height: 200px
}

.row{
	margin-bottom: 60px;
}

/*
div.name {

	background-color:#000;
	padding:2%;

}
*/

div.socialmedia {
	width:75%;
	margin:0 auto;
}

/* ********** TEXT ********** */

@font-face {
	font-family: "Abeat by Kai";
	src:url("../abeatbykai/ABEAKRG.TTF") format("truetype");
}

h1#title1 {
	font-family: "Abeat by Kai", sans-serif;
	margin:1%;
	color:#fff;
}

#title1 {
	font-size:50px;
	letter-spacing: 1.5px;
}

.jumbotron p {
	font-family:'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	letter-spacing: 1.5px;
	font-size:27px;
}

p {
	color:#fff;
}

ul#concertlist {
	color:#fff;
	font-size:20px;
}

h3.teamname {
	font-family: "Abeat by Kai", sans-serif;
	font-size:30px;
	color:#fff;
	background-color:#000;

	display:inline;
	float:right;
	margin:2%;
	padding:4%;
	width:90%;

	border-width:2px;
	border-color: white;
	border-style: solid;

}

div.bio {
	color:#fff;
	font-family:'Roboto', 'Helvetica Neue', Helvetica;
	font-size:20px;
	margin:2%;
	margin-left:10%;
}	

#aboutp {
	font-size:18px;
	width:80%;
	margin:0 auto;
	height:100%;
}

h4 {
	font-family:'Roboto', 'Helvetica Neue', Helvetica;
	font-size:25px;
	margin:3%;
	margin-top:50%;

}

.search-error {
	font-family:'Roboto', 'Helvetica Neue', Helvetica;
	font-size:20px;
	color:#ff0033;
	width:30%;
	margin:0 auto;
}

/* ********** NAVIGATION ********** */

header {
	position:fixed;
	top:0;
	width:100%;
	background-color: black;
	margin:0 auto;
	margin-bottom:1%;
	z-index:100;
}

ul {
	float:right;
}

ul.navbar-nav>li {
	list-style-type: none;
	float:left;
	text-align: center;
}

li a {
	letter-spacing: 1px;
	background-color:#000;
}

#sslogo {
	width:200px;
}

.okayNav a {
	color:#52525b;
	font-size:17px;
	padding-right:2%;
	font-weight:none;
}

.okayNav__nav--visible a:hover {
	color:#40E0D0;
}

.nav>li>a:focus, .nav>li>a:hover {
	background-color: transparent;
}

#header #nav-main ul li a:hover {
	font-family:"Roboto", "Helvetica Neue", Helvetica;
	color:#40E0D0;
	text-decoration: none;
}

#header #nav-main a.okayNav__menu-toggle.icon--active {
	color:#40E0D0;
}


/*
nav.smnav {
	margin-top:3%;
	margin-left:10%;
	background-color: #000;
	width:70%;
}
*/

/* ********** CONTENT ********** */

#content-div {
	text-align: center;
    width: 100%;
    color: #fff;
    margin-bottom: 10px;
}

#bottom {
	width: 95%;
	margin-top: 0px;
}

.cosmos {
	margin:0;
	margin-top:-20%;
	border:0;
	padding-top:20%;
	width:100%;
	height:100%;
    background-color: #797572;
    background-image: 
        linear-gradient(-173deg, rgba(255,255,255,0.20) 0%, #000000 100%),
        linear-gradient(72deg, rgba(255,255,255,0.25) 25%, rgba(0,0,0,0.25) 100%),
        radial-gradient(47% 102%, rgba(255,255,255,0.50) 0%, rgba(21,24,32,0.60) 120%);
    background-blend-mode: multiply;
}

.cosmosindex {
    background-color: #797572;
    background-image: 
        linear-gradient(-173deg, rgba(255,255,255,0.20) 0%, #000000 100%),
        linear-gradient(72deg, rgba(255,255,255,0.25) 25%, rgba(0,0,0,0.25) 100%),
        radial-gradient(47% 102%, rgba(255,255,255,0.50) 0%, rgba(21,24,32,0.60) 120%);
    background-blend-mode: multiply;
}

#aboutbody .cosmosindex {
	margin-bottom:-15%;
	padding-bottom:15%;
}


/* ********** JUMBOTRON ********** */

.jumbotronindex {
	background-color:#000;
	background-image: url("../images/original.jpg");
	height: 600px;
	padding: 0px;
	margin-top:5%;
	margin-bottom: 160px;
}

#shadow {
	text-align: center;
    background: rgba(0, 0, 0, 0.42);
    width: 100%;
    padding-top: 150px;
    color: #fff;
    height: 500px;
}

#aboutshadow {
	text-align: center;
/*    background: rgba(0, 0, 0, 0.42);
*/    width: 100%;
    padding-top: 100px;
    color: #fff;
    height: 500px;
}

#title1 {
	font-size: 50px;
}

/* ********** FORM ********** */

input#artist-input.form-control {
	width:300px;
	margin:0 auto;
}

input#artist-input2{
	width:300px;
	margin:0 auto;
}

button.btn.btn-default {

	width:100px;
	height:40px;
	
	border-radius:25px;
	border-style: solid;
	border-color: #40E0D0;
	border-width:2px;
}

button.btn.btn-default:hover {
	border-color:#f44280;
	background-color: #fff;
}

/* ********** IMAGES ********** */
.portrait {
	height:200px;
	width:200px;
	margin:20px;
	margin-left:90px;
	border:3px;
	border-color:#FF0000;
}

.smicon {
	display:inline-block;
	margin-bottom:8%;
}

#sslogo:hover {
	opacity:.4;
}

.titleimg {
	width:70%;
	margin-top:10%;
}

.titleimg2 {
	width:40%;
	margin-top:0%;
}

.titleimg3 {
	width:60%;
	margin-top:10%;
}

/* ********** PANEL CONTENT ********** */

#concerts-display {
	background-color:transparent;
	height:500px;

	overflow-y:scroll;
	overflow-x:hidden;

	border-color:#40E0D0;
	border-width: 2px;
	border-style: solid;
}

div.searchContent {
	display:block;
	background-color:transparent;
	margin-bottom:10%;
}

div.searchContent:last-child {
	margin-bottom:0%;
}

div#searchResults {
	background-color:transparent;
}

div#searchResults.panel-heading {
	border-width:0 0 1px 0;
	border-color:#f44280;
}

h3.searchResultsTitle {

	font-family: "Abeat by Kai", sans-serif;
	margin:1%;
	color:#fff;
	font-size:20px;
	letter-spacing: 1px;
}

div.searchResultsContent {

	font-family:"Roboto", "Helvetica Neue", Helvetica;
	color:#fff;
	font-size:15px;
	background-color:transparent;

}

.panel-info {
	border-style: none;
	border-width: 2px;
	border-color: #f44280;
}

.searchResultsContent a {
	font-family: "Roboto", "Helvetica Neue", Helvetica;
	color:#fff;
	font-size:15px;
	text-decoration: none;
}

.searchResultsContent a:hover {
	font-family: "Roboto", "Helvetica Neue", Helvetica;
	color:#f44280;
	font-size:15px;
	text-decoration: none;

}

/* ********** SCROLL STYLING ********** */
::-webkit-scrollbar {
	width:5px;
}

::-webkit-scrollbar:horizontal {
	width:0px;
}
 
::-webkit-scrollbar-button {
      background-color: #000;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
 
::-webkit-scrollbar-track {
      background-color: #40E0D0;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
	background-color: #000;
}

/* ********** GOOGLE MAPS ********** */

#map-display {
	height:500px;
	width:100%;
	border-color:#40E0D0;
	border-width: 2px;
	border-style: solid;
	overflow:visible;
}

/* ********** TWITTER ********** */
#twitter-display {
	background-color: transparent;
	height:399px;
	overflow-y:hidden;
	overflow-x:hidden;
	margin-top:0%;

	padding:0%;
	border-color:#40E0D0;
	border-width: 2px;
	border-style: solid;
}

#twit-container {
	height:399px;
}

/* ********** YOUTUBE ********** */
#youtube-display {
	background-color:transparent;

	border-color:#40E0D0;
	border-width: 2px;
	border-style: solid;

	height:399px;
}

/* ********** MEDIA QUERIES ********** */

@media screen and (max-width:1200px) {
	#form2 {
		display:block;
	}

	button.btn.btn-default {
		margin:2%;
	}

	div.form-group {
		width:100%;
		margin:0 auto;
	}

	#form1 {
		display:none;
	}
	.titleimg {
		width:80%;
		margin-top:15%;
	}

	.titleimg2 {
		width:60%;
		margin-top:15%;
	}
}

@media screen and (max-width:432px) {

	/*	
	div.name {
		height:100px;
		width:90%;
		margin:0 auto;
	}
	*/
	
	nav.smnav {
		margin-top:3%;
		margin-left:10%;
		background-color: #000;
		width:80%;
		margin:0 auto;
	}

	h3.teamname {

		display:block;
		float:left;
		width:100%;
		margin:0 auto;
		padding:10%;
		
		border-width: 2px;
		border-style: solid;
		border-color:white;

	}
	
	.socialmedia {
		width:85%;
		margin:0 auto;
	}

	.smicon {
		display:inline-block;
		margin:2%;
	}

	#ytplayer {
		width:70%;
	}

	.titleimg {
	width:100%;
	margin-top:30%;
	}

	.titleimg2 {
		width:90%;
		margin-top:20%;
	}
}

@media screen and (min-width:433px) and (max-width:768px) {
	
	/*
	div.name {
		height:30px;
		width:100%;
		margin:0 auto;
	}
	*/

	nav.smnav {
		margin-top:3%;
		margin-left:10%;
		width:80%;
		margin:0 auto;
	}

	h3#teamname {

		display:block;
		float:right;
		width:100%;
		margin:0 auto;
		padding:1%;
		border:0;
	}
	
	.socialmedia {
		width:100%;
		margin:0 auto;
	}

	.smicon {
		display:block;
		float:left;
	}

	.titleimg {
	width:100%;
	margin-top:20%;
	}

	.titleimg2 {
		width:70%;
		margin-top:20%;
	}
}